<div class="ui container" id="main_container">
	<div class="ui center aligned middle aligned stackable grid full-height">
		<div class="sixteen wide column">
				<div id="canvas-container" class="tm-deep-shadow">
				</div>
				<%= form_tag cards_path, 
										 class:"ui form", 
										 id:"content-form",
										 method:"post" do %>
				  <div class="two fields">
						<div class="field">
					    <label>Người nhận:</label>
					    <input type="text" name="card[receiver]" id="receiver-input">
					  </div>
					  <div class="field">
					    <label>Người gửi:</label>
					    <input type="text" name="card[sender]" id="sender-input">
					  </div>
					</div>
				  <div class="field">
				    <label>Lời chúc của bạn:</label>
				    <textarea rows="8" name="card[message]" id="content-input"></textarea>
				  </div>
				  <input type="hidden" name="card[image_url]" id="image-url-input">
				  <input type="hidden" name="card[template_id]" value="1">
				<% end %>
				<button class="ui positive tm-deep-shadow button tm-button"
								id="preview-button">
					Xem trước
				</button>
				<div class="ui tm-deep-shadow buttons" id="action-buttons">
					<button class="ui basic button tm-button"
									id="back-button"
									style="display: none">
						Chỉnh sửa
					</button>
					<button class="ui tm-blue button tm-button"
									id="send-button"
									style="display: none">
						Gửi thông điệp
					</button>
				</div>
		</div>
	</div>
</div>


<script>
	$("#preview-button").click(function() {
		sender   = "From: " + $("#sender-input").val();
		receiver = "To: " + $("#receiver-input").val();
		message  = $("#content-input").val()
		toggleState(true);
    redraw(); 
	});
	$("#back-button").click(function() {
		sender =receiver = message = "";
		toggleState(false);
    redraw();
	});
	$("#send-button").click(function() {
		 domtoimage.toPng(document.getElementById("card-canvas"))
    	.then(function (dataUrl) {
    		$("#image-url-input").val(dataUrl);
    		console.log(dataUrl);
    		$("#content-form").submit();
    	});
	});
	function toggleState(state) {
		if (state) {
			$("#content-form, #preview-button").hide();
			$("#back-button, #send-button").show();
		} else {
			$("#content-form, #preview-button").show();
			$("#back-button, #send-button").hide();
		}
	}
</script>