<div class="ui container p-none--sides" id="main_container">
	<div class="ui center aligned middle aligned stackable grid full-height">
		<div class="sixteen wide column">
				<div id="card-container" class="tm-deep-shadow">
					<%= image_tag @card.imgur, class:"ui image" %>
				</div>
				<button class="ui tm-blue icon button" 
								id="fb-send-button">
					<i class="facebook icon"></i>
					Gửi qua Messenger
				</button>
				<button class="ui blue icon button" 
								id="fb-share-button">
					<i class="facebook icon"></i>
					Chia sẻ qua Facebook
				</button>
				<button class="ui icon button" 
								id="download-button"> 
					<i class="download icon"></i>
					Download
				</button>
		</div>
	</div>
</div>
