<div class="ui container" id="main_container">
	<div class="ui center aligned middle aligned stackable grid full-height">
		<div class="sixteen wide column">
				<div id="card-container" class="tm-deep-shadow">
					<%= image_tag @card.image_url, class:"ui image" %>
				</div>
		</div>
	</div>
</div>
